:host {
    --content-padding: 10px;
  }
  .content {
    padding-left: var(--content-padding);
    padding-right: var(--content-padding);
    padding-bottom: var(--content-padding);
    padding-top: 60px;
  }

  