
    <mat-toolbar class=" brand-name">
        <mat-toolbar-row>
          <span style="color: lightgrey;">AW Freelance</span>
          <span class="example-spacer"></span>
          <button mat-button style="color: lightgrey" (click)="route('about')">About</button>
          <span class="example-spacer"></span>
          <button mat-button style="color: lightgrey" (click)="route('services')">Services</button>
          <span class="example-spacer"></span>
          <button mat-button style="color: lightgrey" (click)="route('contact')">Contact Us</button>
          <span class="example-spacer"></span>
          <!-- <button mat-icon-button class="example-icon" aria-label="Example icon-button with menu icon">
            <mat-icon>menu</mat-icon>
          </button> -->
        </mat-toolbar-row>
    </mat-toolbar>