<section class="home-page">
    <div class="content-wrapper">
        <img src="assets/wenatchee_pic.jpg" alt="owner" class="owner">
        <div class="text-content">
            <h1 class="intro-h1">Welcome to <span class="highlight-text">AW Freelance</span></h1>
            <br>
            <h3 class="intro-h3">Where Digital Dreams Come to Life!</h3>
            <button mat-raised-button class="services-button" routerLink="/services">Our Services</button>
            <button mat-raised-button class="contact-button" routerLink="/contact">Contact Us</button>
        </div>
    </div>
    <p class="intro-description">At <span class="highlight-text">AW Freelance</span>, we are passionate about transforming your online presence into a powerful asset for your business. With a commitment to excellence and a team of skilled professionals, we offer comprehensive web development and digital marketing solutions tailored to your unique needs.</p>

    <div class="about-us" id="about">
        <h1 class="header">Our Story</h1>
        <p class="content">Founded with a vision to transform ideas into powerful online experiences, <span class="highlight-text">AW Freelance</span> has been on a journey of digital excellence since 2020. Over the years, we've had the privilege of working with a diverse range of clients, from startups to established enterprises, helping them establish a strong online presence and achieve their business goals.</p>

        <h1 class="header">What Sets Us Apart</h1>
        <h3 class="sub-header">Expertise</h3>
        <p class="content">Our team of seasoned web developers and designers brings a wealth of technical expertise and creative flair to every project. We stay at the forefront of technological advancements to deliver cutting-edge solutions that ensure your website stands out in the competitive online landscape.</p>

        <h3 class="sub-header">Client-Centric Approach</h3>
        <p class="content">Your success is our priority. We believe in forging strong, collaborative partnerships with our clients. By understanding your unique goals and challenges, we can tailor our solutions to align with your business objectives and exceed your expectations.</p>

        <h3 class="sub-header">Innovation and Creativity</h3>
        <p class="content">In the fast-paced world of web development, innovation is key. We thrive on pushing the boundaries of creativity, utilizing the latest technologies to deliver solutions that not only meet but exceed industry standards.</p>
    </div>


    <div class="services-offered" id="services">
        <h1 class="header">Our Services</h1>
        <div class="columns">
            <div class="services">
                <ol>
                    <li class="main-item">Basic Tier - Essentials Package:
                        <ul>
                            <li>Website Hosting</li>
                            <li>Ongoing Maintenance and Security Updates</li>
                        </ul>
        
                    </li>
        
                    <br>
                  
                    <li class="main-item">Intermediate Tier - Local Presence Package:
                      <ul>
                        <li>Includes all Basic Tier features</li>
                        <li>Local SEO Optimization</li>
                        <li>Google Business Profile Maintenance</li>
                      </ul>
                    </li>
                  
                    <br>
        
                    <li class="main-item">Premium Tier - Comprehensive Marketing Package:
                      <ul>
                        <li>Includes all Intermediate features</li>
                        <li>Email Newsletters/Marketing</li>
                        <li>Online Ads Management (e.g., Google Ads)</li>
                        <li>Advanced Analytics and Reporting</li>
                      </ul>
                    </li>
                  </ol>         
    
            </div>
            <div class="skills">
                <p>Add skill icons here</p>
    
            </div>

        </div>
        
        
          
        <p class="content">Contact us today for a free consultation and pricing information!</p>
    </div>

    <div class="contact" id="contact">
        <h1 class="header">Contact Us</h1>
    </div>

</section>
